:root {
  --autocomplete-color: #ffffff;
  --autocomplete-background-color: #000000;
  --autocomplete-primary-color: #ffffff;
  --autocomplete-primary-background-color: #000000;
}

::-webkit-scrollbar { 
  display: none; 
}
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
html {
    scroll-behavior: smooth;
    overflow: auto;
  }