.loginInputs input:-webkit-autofill,
.loginInputs input:-webkit-autofill:hover,
.loginInputs input:-webkit-autofill:focus,
.loginInputs textarea:-webkit-autofill,
.loginInputs textarea:-webkit-autofill:hover,
.loginInputs textarea:-webkit-autofill:focus,
.loginInputs select:-webkit-autofill,
.loginInputs select:-webkit-autofill:hover,
.loginInputs select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--autocomplete-primary-color);
  caret-color: var(--autocomplete-primary-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--autocomplete-primary-background-color) inset;
  box-shadow: 0 0 0px 1000px var(--autocomplete-primary-background-color) inset;
}